$color_1: rgb(218, 170, 14);
$color_2: rgb(127, 236, 55);
$color_3: rgb(255, 255, 255);
$color_4: rgb(212, 213, 216);
$color_5: rgb(170, 240, 113);
$color_6: rgb(58, 107, 212);
$color_7: rgb(49, 49, 48);

$font_1: Arial, Helvetica, Sans-Serif;
$font_2: "Sacramento", cursive;
