/* Nest Nav */
@import "colors.scss";

@mixin text_color {
  color: $color_3;
}
@mixin text_size {
  font-size: 1.5rem;
}

nav {
  padding: 1em;
  ul {
    list-style: none;
    padding-left: 3em;
  }

  li {
    display: inline-block;
    @include text_color;
    font-family: $font_1;
    @include text_size;
  }

  a {
    display: block;
    @include text_color;
    @include text_size;
    text-decoration: none;
  }
}
